# --- Python & Pipenv --- #
__pychache__/
*.py[cod]
.venv/
Pipfile.lock
.python-version

# --- PlatformIO --- #
.pio/
.pio/build/
.pio/libdeps/
.pio/environments/
platformio.ini.old

# --- IDE Settings (VS Code) --- #
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# --- General ---
.DS_Store
.env